@charset "utf-8"; 
h1 {
	text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
h2 {
	text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
h3 {
	text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
div {
	padding:15px;
}
form {
    margin:0;
}
.centered-div {
    margin-left: auto;
    margin-right: auto;
}
.table-replace {
    display: table;
    width: 400px;
    border-spacing: 2px;
    border-width: 4px;
    border-style: double;
    border-collapse: separate;
    border-color: #000000;
    text-align: left;
    padding: 0;
}
.table-replace hr {
    width: 400px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    height: 2px;
    border-left: 0;
    border-right: 0;
}
span:hover {
	font-weight: bold;
	cursor: pointer;
}
.important {
	background-color: #00ff00;
	border: solid #ffff00;
	border-width:10px;
	position:absolute;
	left:150px;
	z-index:20;
}
.whoishere {
	position:absolute;
	left: 775px;
	top:10px;
	width: 185px;
	background-color: #a9fc9a;
	z-index:1;
	text-align: center;
}
.navbar {
	position: fixed;
	left: 10px;
	top: 105px;
	width: 185px;
	background-color: #a9fc9a;
	z-index:1;
}
.headBar {
	position: absolute;
	top: 10px;
	left: 235px;
	width: 500px;
	height: 60px;
	background-color: #99fdd8;
	z-index:1;
}
.content {
	position: absolute;
	top: 105px;
	left: 235px;
	width: 65%;
	background-color: #99fdd8;
	z-index:1;
}
.conversation {
	position: absolute;
	padding-bottom: 0;
	left: 235px;
	top: 115px;
	width: 500px;
	background-color: #99fdd8;
	vertical-align: bottom;
	z-index:1;
}
.TalkBox {
	width: 85%;
	position: relative;
	left: 30px;
	z-index:1;
}
.TalkButton {
	position: relative;
	left: 30px;
}
.register {
	margin-left: auto;
    margin-right: auto;
	background-color: #c0c0c0;
	left: 5px;
	top: 5px;
	width: 95%;
	z-index:5;
    text-align: center;
}
.selectIt {
	text-align: center;
}
.spend {
	display:none;
}
.GM_Button {
	float:left;
	margin-left: 0;
	margin-right:5px;
	width:60px;
	height:45px;
}
.comment {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0;
	border-top-width:1px;
	border-top-style:solid;
	border-color:#c0c0c0;
}
.attrib {
	display:block;
	margin-bottom: 5px;
}
.collapse {
	display:none;
}
.hidden {
	display:none;
}

table {
	border: 1px black solid;
}

td {
 	border-top: 1px solid black;
	border-left: 1px solid black;
}

td::first {
	border-left: 0px;
}

thead {
	font-weight: bold;
}

thead td {
	border-top: 0px;
}